@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Toegang geweigerd";
}

<div class="center text-danger text-center">
    <div class="position-absolute m-0 top-50 left-50 transform-half-half">
        <h1>U hebt geen toegang tot deze inhoud!</h1>
        <i class="fa fa-ban" aria-hidden="true" style="font-size:150px;"></i>
    </div>
</div>
