@page
@using KerykeionCmsCore.Services
@model ForgotPasswordConfirmation
@inject KerykeionTranslationsService TranslationService
@{
    ViewData["Title"] = await TranslationService.TranslateAsync("Wachtwoord vergeten bevestiging");
}

<h1>@ViewData["Title"]</h1>
<p>
    @await TranslationService.TranslateAsync("Gelieve uw e-mail te bekijken om uw wachtwoord te resetten.")
</p>

